<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="starWars">
<hr/>
<div class="container" ng-controller="PeopleController">
    <div class="row">
        <label>User</label> <input type="text" ng-model="peopleDto.name" class="input-sm spacing"/>
      
    </div>
    <hr/>
    <div class="row">
        <p>{{allPeople | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="user in allPeople">
        <div class="">
            <h3>{{people.name}}</h3>
            <span ng-repeat="starship in user.starships" class="spacing">{{starship}}</span>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/PeopleController.js"></script>
<script src="js/app/PeopleService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>